* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.square {
    background-color: white;
    border: 1px solid rgb(183, 0, 255);
    outline: none;
    padding: 2rem;
    background-image: linear-gradient(black, rgb(28, 27, 27));
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 10px 5px 10px black;
    width: 90px;
    height: 100px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent;

}

.square:focus {
    scale: .95;
    border-color: white;
}


.board-row {
    display: flex;
    gap: .2rem;
}

.board {
    display: flex;
    flex-direction: column;
    gap: .2rem;



}

.status {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 5px double rgb(183, 0, 255);
    background-color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    width: 280px;
}

.game {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

}



.history {
    padding: .5rem;
    background-color: rgb(41, 41, 41);
    outline: none;
    border: 1px solid rgb(183, 0, 255);
    font-size: 2rem;
    color: white;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    background-image: linear-gradient(black, rgb(35, 35, 35));
    transition: all 100ms ease-in-out;
}


.history:active {
    scale: .95;
    box-shadow: 2px 2px 2px rgb(59, 40, 40);
}